@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232836;
    column-gap: 30px;
}

footer {
    padding: 20px 0 70px 0;
    background-color: #232836;
    text-align: center;
    color: #FFF;
}

nav {
    padding: 10px 40px;
    margin: 0;
    background-color: #FFF;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav ul div {
    width: 50%;
    box-sizing: border-box;
    display: flex;
}

@media (max-width: 768px) {
    nav ul div {
        width: 100%;
        justify-content: center!important;
    }
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #232836;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav .nav-title {
    font-size: 26px;
    font-weight: 600;
}

nav .nav-link {
    font-size: 20px;
    justify-content: end;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form-edit .field {
    margin-top: 40px!important;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 10px 15px;
    border: 1px solid #CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.field button {
    color: #fff;
    background-color: #232836;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #4a5361;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span {
    font-weight: 400;
}

.form-link a {
    font-weight: 500;
}

.form-link span,
.form-link a {
    font-size: 16px;
    color: #232836;
}

.form a {
    color: #232836;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.github {
    color: #fff;
    background-color: #2b3137;
}

button.github .github-icon {
    height: 28px;
    width: 28px;
    color: #2b3137;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

button.microsoft {
    color: #232836;
    background-color: #fff;
    border: 1px solid #232836;
}

button.microsoft .microsoft-icon {
    height: 28px;
    width: 28px;
    color: #232836;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.github-icon,
.microsoft-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}

img {
    border: 2px solid #000;
    border-radius: 100%;
    height: 4em;
    width: 4em;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}