{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock head_title %}

{% block content %}
    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="email" name="login" placeholder="Email address"
                               autocomplete="email" maxlength="320" required id="id_login">
                    </div>

                    <div class="field input-field">
                        <input type="password" name="password" placeholder="Password"
                               autocomplete="current-password" required id="id_password">
                    </div>

                    <div class="form-link">
                        <a href="{% url 'account_reset_password' %}" class="forgot-pass">Forgot password?</a>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Login</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Don't have an account? <a href="{{ signup_url }}" class="link signup-link">Signup</a></span>
                </div>
            </div>

            <div class="line"></div>

            <form action="{% provider_login_url 'github' %}" method="post" class="field github">
                {% csrf_token %}
                <button type="submit">
                    <i class='bx bxl-github github-icon'></i>
                    <span>Login with GitHub</span>
                </button>
            </form>

            <form action="{% provider_login_url 'microsoft' %}" method="post" class="field microsoft">
                {% csrf_token %}
                <button type="submit">
                    <i class='bx bxl-microsoft microsoft-icon'></i>
                    <span>Login with Microsoft</span>
                </button>
            </form>
        </div>
    </section>
{% endblock content %}
