{% extends "account/base.html" %}

{% block content %}

    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Edit Profile</header>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save Changes</button>
                </form>

                <a href="{% url 'view_profile' %}">Cancel</a>
            </div>
        </div>
    </section>

{% endblock content %}