{% extends "account/base.html" %}

{% block content %}

    <section class="container forms">
        <div class="form login">
            <div class="form-content center">
                <header>Welcome</header>
                <div>
                    <img src="media/{{ user_profile.profile_picture }}" alt="Profile picture">
                </div>
                <div>
                    <p>{{ user_profile.username }}</p>
                </div>
                <div>
                    <p>
                        <a href="{% url 'edit_profile' %}">Edit Profile</a>
                    </p>
                    <form method="POST" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <div class="field button-field">
                            <button type="submit">Log Out</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}