{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Edit Profile" %}{% endblock head_title %}

{% block content %}

    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Edit Profile</header>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save Changes</button>
                </form>

                <a href="{% url 'view_account' %}">Cancel</a>
            </div>
        </div>
    </section>

{% endblock content %}