{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock head_title %}

{% block content %}

    <section class="container forms">
        <div class="form login">
            <div class="form-content center">
                <header>Welcome</header>
                <div>
                    <img src="{{ user_profile.profile_picture.url }}" alt="Profile picture">
                </div>
                <div>
                    <p>{{ user_profile.username }}</p>
                    <p>{{ user_profile.email }}</p>
                </div>
                <div class="field button-field">
                    <a href="{% url 'edit_account' %}">
                        <button>Edit Profile</button>
                    </a>
                </div>
                <div>
                    <form method="POST" action="{% url 'account_logout' %}?next=/account/view">
                        {% csrf_token %}
                        <div class="field button-field">
                            <button type="submit">Log Out</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}